[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/start_baa
Categories=Education;
Icon=/usr/local/share/icons/satellite-dish-svgrepo-com.svg
Icon[en_CA]=/usr/local/share/icons/satellite-dish-svgrepo-com.svg
Name[en_CA]=BAA Radio Astronomy
Name=BAA Radio Astronomy
